@import '~purecss/build/pure-min.css';
@import '~purecss/build/grids-responsive-min.css';

.chord-input {
    
}

.chords {
    
}

.chord {
    text-align: center;
}

.chord-to-train {
    text-align: center;
}

.hidden {
    display: none;
}
